* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  /*este label es para el formulario*/
  label{
    text-align: justify;
    padding: .5%;
  }

  header {
      height: 300px;
      background-image:url(..//img/principal.webp);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: .7;
  }
   h1 {
    font-family:"Belanosima",sans-serif;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 5em;
    padding: 2%;
    font-size: x-large;
   }
  h2 ,h3 {
    font-family:"Belanosima",sans-serif;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: auto;
      
  }
  p {
    font-family: "Poppins", sans-serif;
    margin: 20px;
  }
  h1 {
    color: #FC7300;
    margin-top: 0px;
  }
  
  h2 {
    color: #181823;
  }
  
  nav {
    position: sticky;
    top: 0;
    background-color: #00425A;
     }
  
  nav a { 
    color:#EFF5F5;
    text-decoration: none;
    font-family: "Belanosima", sans-serif;
       
  }
  
  a:hover {
      text-decoration: none;
      font-family: "Belanosima", sans-serif;
      font-size: 150%;
     /*agregamos 15:19
      border-bottom: 1px solid;
      background: #0a1801; 

      border-bottom: 1px solid;
      
      /*hasta aqui*/
  }
  
  li{
      list-style: none;
  }
  
  img {
    width: 320px;
  }
  a img {
    width: 30px;
  } 
  
  article {
    border: solid 1px  #1F8A70;
    padding-left: 4px;
    margin: 5px;
    border-radius: 5px 30px;
    box-shadow:  #181823 3px 3px 7px; 
  }
  
  section li {
    color: #EFF5F5;
    border: solid 1px  #181823;
    padding-left: 4px;
    margin: 5px;
    border-radius: 5px;
    background-color:   #1F8A70; 
  }
  figure img {
    width: 200px;
  }
  
  figure {
    margin: 0px;
  }
  figcaption{
    font-family: "Poppins", sans-serif;
  }
  footer {
    padding: 10px;
  }
  footer div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    
  }
  
  footer div a{
    text-decoration: none;
    margin-top: 10px;
    }

  form {
    font-family: "Beladosima", sans-serif;
    background-color: #1F8A70;
    opacity: 0.8;
    margin-top: 1em;
    margin-bottom: 15em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: end;
  }
  

   button{
    font-family: "Beladosima", sans-serif;
    width: 100px;
    height: 30px;
    margin-top: 100px;
    border-radius: 5px;
    background-color: #FC7300;
    color: #181823;
    align-self: flex-end;
   }


  @media screen and (min-width: 320px) {
    p{
      font-size: 13px;
    }
    h3{
      font-size: 17px;
    }
    h2{
      font-size: 20px;
    }
    h1{
      font-size: 25px;
    }
    nav a {
      font-family: "Belanosima", sans-serif;
      font-size: large;
      margin-right: 1em;
      margin-top: .1em;
      margin-bottom: .1em;
          }
    /*para tener distinto tamaño de letra en el formulario+*/
     form {
      font-size: xx-large;

     }
     nav {
      display: flex;
      flex-direction: column;
      align-content: flex-end;
      align-items: end;
         }
    .container {
      display: flex;
      flex-direction: column;
      align-content: space-between;
    }
  
    figure{
      align-self: center;
      margin: 20px;
    }
    figure img {
      width: 200px;
    }
     
    }
    
    @media screen and (min-width: 768px) {
     
      p{
        font-size: 15px;
      }
      h3{
        font-size: 19px;
      }
      h2{
        font-size: 23px;
      }
      h1{
        font-size: 27px;
      } 
      /*para tener distinto tamaño de letra en el formulario+*/
      form {
        font-size: medium;
       }

      nav {
      padding: 10px 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  figcaption {
    text-align: center;
  }
  figure img {
    width: 150px;
  }
    }
  
    @media screen and (min-width: 1024px) {
      p{
        font-size: 18px;
      }
      h3{
        font-size: 23px;
      }
      h2{
        font-size: 25px;
      }
      h1{
        font-size: 30px;
      }
      /*para tener distinto tamaño de letra en el formulario+*/
      form {
        font-size: small;
       }

    nav a{
      font-size: medium;
    }
      nav {
      padding: 10px 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  figcaption {
    text-align: center;
  }
  figure img {
    width: 200px;
  }
    }